<section id="hero">
	<div className="row">
		<div className="large-8 medium-8 columns">
			<h1>{{ lead }}</h1>
			<h4>{{ tagline }}</h4>
			<a href="https://github.com/OwlCarousel2/OwlCarousel2/archive/{{ pkg.version }}.zip" className="hero-button">Download</a>
			<a href="{{ pkg.homepage }}" className="hero-button outline">Github</a>
			<p>{{ pkg.version }}</p>
		</div>
		<div className="large-4 medium-4 columns">
			<img className="owl-logo" src="{{assets}}/img/owl-logo.png" alt="mr. Owl">
		</div>
	</div>
</section>
